@import '~bootstrap/scss/bootstrap';

#board {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 600px;
 height: 600px;

}
.square-box{
  border: #000000 solid 5px;
  width: 200px;
  height: 200px;
  
}