@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  }

#board {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 600px;
 height: 600px;

}
.square-box{
  border: #000000 solid 5px;
  width: 200px;
  height: 200px;
  
}

// input {
//   margin : 10px;
//   width: 250px;
// }

body{
display: flex;
align-items: center;
justify-content: center;
background-color: #f5f5f5;
}